.form {
	background-color: #efefef;
	width: 400px;
	height: 50px;
	border-radius: 7px;
	padding: 20px;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

body{
	font-family: Arial, Malvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;

}

h2 {
	text-align: center;	
}

h1{
	margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;	
}



#formulario a.formulario{
	font-family: Arial, Malvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
	margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;	
}

a.formulario{
    font-family: Arial, Malvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;   
}


